<launch>
<!-- This file is mannequin mode except for the head (which conflicts with the joystick teleop -->
  <!-- Start the controllers, note that we call the nohead launch so that head controllers are left for the joystick-->
  <include file="$(find tams_pr2_mannequin_mode)/launch/controllers_nohead.launch"/>

  <!-- Start the scripts to actually lock the arms and head in place -->
  <include file="$(find tams_pr2_mannequin_mode)/scripts/trajectory_lock.launch"/>

  <node pkg="tams_pr2_mannequin_mode" name="mannequin_mode_server" type="mannequin_mode_server.py" output="screen">
    <rosparam param="pr2_controllers">["l_arm_controller", "r_arm_controller"]</rosparam>
    <rosparam param="loose_controllers">["l_arm_controller_loose", "r_arm_controller_loose"]</rosparam>
  </node>
</launch>
