<?xml version="1.0" ?>
<launch>
  <arg name="hand_id" default="rh"/>
  <arg name="hand_trajectory" default="true"/>
  <arg name="hand_serial" default="554"/>

  <arg name="gui" default="true"/>
  <arg name="paused" value="false"/>

  <param name="/use_sim_time" value="true"/>

  <!-- robot description -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find tams_pr2_description)/robots/trixi.urdf.xacro'" />

  <param name="/hand/mapping/$(arg hand_serial)" value="$(arg hand_id)"/>
  <param name="/hand/joint_prefix/$(arg hand_serial)" value="$(arg hand_id)_"/>

  <!-- Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="gui" default="$(arg gui)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="world_name" value ="$(find tams_pr2_simulation)/worlds/empty.world"/>
  </include>

  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="$(optenv ROBOT_INITIAL_POSE) -urdf -param robot_description -model trixi -J r_elbow_flex_joint -1.7 -J head_tilt_joint 0.5" respawn="false" output="screen" />

  <include file="$(find tams_pr2_simulation)/launch/pr2_bringup.launch" />

  <rosparam command="load" file="$(find sr_description)/hand/config/$(arg hand_id)_controller_gazebo.yaml"/>

  <!-- pr2 default controller -->
  <include file="$(find tams_pr2_simulation)/launch/pr2_default_controllers.launch" />

  <!-- Hand trajectory controller -->
  <node name="$(arg hand_id)_trajectory_controller" pkg="sr_utilities" type="controller_spawner.py" output="screen">
    <param name="hand_trajectory" value ="$(arg hand_trajectory)"/>
    <param name="service_timeout" value ="260"/>
  </node>

  <!-- Shadow Hand joint state controller. We can't use the ros_ethercat launch
    file, couse we need the high timeout -->
  <!-- load configuration -->
  <arg name="publish_rate" default='100'/>
  <rosparam command="load" file="$(find ros_ethercat_model)/launch/joint_state_controller.yaml" />
  <param name="joint_state_controller/publish_rate" value="$(arg publish_rate)"/>
  <!-- spawn controller -->
  <node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="joint_state_controller --timeout 200" />

  <!-- move group -->
  <include file="$(find tams_pr2_moveit_config)/launch/move_group.launch" />

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find tams_pr2_moveit_config)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="true"/>
  </include>

  <node name="start_gravity" pkg="tams_pr2_simulation" type="start_gravity.py"/>

</launch>
