<?xml version="1.0"?>

<model>
  <name>tams_table</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Yannick Jonetzko</name>
    <email>5jonetzk@informatik.uni-hamburg.de</email>
  </author>

  <description>
    The table in the middle of the tams lab.
  </description>
</model>
