<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="tams_pr2_shadow_adapter" params="name parent *origin">
    <link name="${name}_link">
      <inertial>
        <mass value="0.2" />
        <origin xyz="0.0 0.0 0.0" />
        <inertia ixx="0.002708332" ixy="0.0" ixz="0.0"
                 iyy="0.000708333" iyz="0.0"
                 izz="0.003333332" />
      </inertial>

      <visual>
        <origin xyz="0.0 0 0.0" rpy="0 0 0.0" />
        <geometry>
          <mesh filename="package://tams_pr2_description/meshes/pr2_shadow_adapter/pr2_shadow_adapter.stl" />
        </geometry>

        <material name="Black" />
      </visual>

      <collision>
        <origin xyz="-.0125 0 0" rpy="0 ${M_PI/2} 0" />
        <geometry>
          <cylinder radius="0.0685" length="0.025" />
        </geometry>
      </collision>
    </link>

    <joint name="${name}_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <child link="${name}_link" />
      <parent link="${parent}"/>
    </joint>
  </xacro:macro>
</robot>
