<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="turn_rh_gravity_off" params="enable">
    <gazebo reference="rh_wrist">
      <turnGravityOff>${enable}</turnGravityOff>
    </gazebo>
    <gazebo reference="rh_palm">
      <turnGravityOff>${enable}</turnGravityOff>
    </gazebo>
    <gazebo reference="rh_ffknuckle">
      <turnGravityOff>${enable}</turnGravityOff>
    </gazebo>
    <gazebo reference="rh_ffproximal">
      <turnGravityOff>${enable}</turnGravityOff>
    </gazebo>
    <gazebo reference="rh_ffmiddle">
      <turnGravityOff>${enable}</turnGravityOff>
    </gazebo>
    <gazebo reference="rh_ff_J1_dummy">
      <turnGravityOff>${enable}</turnGravityOff>
    </gazebo>
    <gazebo reference="rh_lfmetacarpal">
      <turnGravityOff>${enable}</turnGravityOff>
    </gazebo>
    <gazebo reference="rh_lfknuckle">
      <turnGravityOff>${enable}</turnGravityOff>
    </gazebo>
    <gazebo reference="rh_lfproximal">
      <turnGravityOff>${enable}</turnGravityOff>
    </gazebo>
    <gazebo reference="rh_ldmiddle">
      <turnGravityOff>${enable}</turnGravityOff>
    </gazebo>
    <gazebo reference="rh_lf_J1_dummy">
      <turnGravityOff>${enable}</turnGravityOff>
    </gazebo>
    <gazebo reference="rh_mfknuckle">
      <turnGravityOff>${enable}</turnGravityOff>
    </gazebo>
    <gazebo reference="rh_mfproximal">
      <turnGravityOff>${enable}</turnGravityOff>
    </gazebo>
    <gazebo reference="rh_mfmiddle">
      <turnGravityOff>${enable}</turnGravityOff>
    </gazebo>
    <gazebo reference="rh_mf_J1_dummy">
      <turnGravityOff>${enable}</turnGravityOff>
    </gazebo>
    <gazebo reference="rh_rfknuckle">
      <turnGravityOff>${enable}</turnGravityOff>
    </gazebo>
    <gazebo reference="rh_rfproximal">
      <turnGravityOff>${enable}</turnGravityOff>
    </gazebo>
    <gazebo reference="rh_rfmiddle">
      <turnGravityOff>${enable}</turnGravityOff>
    </gazebo>
    <gazebo reference="rh_rf_J1_dummy">
      <turnGravityOff>${enable}</turnGravityOff>
    </gazebo>
    <gazebo reference="rh_thbase">
      <turnGravityOff>${enable}</turnGravityOff>
    </gazebo>
    <gazebo reference="rh_thproximal">
      <turnGravityOff>${enable}</turnGravityOff>
    </gazebo>
    <gazebo reference="rh_thhub">
      <turnGravityOff>${enable}</turnGravityOff>
    </gazebo>
    <gazebo reference="rh_thmiddle">
      <turnGravityOff>${enable}</turnGravityOff>
    </gazebo>
    <gazebo reference="rh_thdistal_J1_dummy">
      <turnGravityOff>${enable}</turnGravityOff>
    </gazebo>
    <gazebo reference="r_forarm_roll_link">
      <turnGravityOff>${enable}</turnGravityOff>
    </gazebo>
  </xacro:macro>
</robot>
