<?xml version="1.0"?>
<!-- TODO: if this should ever be used, the appropriate frames would need to be added first -->
<root xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="xtion_camera" params="name parent *origin">
    <joint name="${name}_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${name}_link"/>
    </joint>
    <link name="${name}_link">
      <inertial>
        <mass value="0.1" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.01"  ixy="0.0"  ixz="0.0"
                 iyy="0.01"  iyz="0.0"
                 izz="0.01" />
      </inertial>
      <visual>
        <origin xyz="0.0 0.0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://tams_pr2_description/meshes/xtion/xtion.stl" />
        </geometry>
        <material name="gray">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="-0.02 -0.023 0.01" rpy="0 0 0"/>
        <geometry>
          <box size="0.04 0.19 0.03" />
        </geometry>
      </collision>
    </link>
  </xacro:macro>
</root>
