<?xml version="1.0"?>
<!-- Top-Level launch file -->
<launch>
    <!-- run some nodes on c2 -->
    <arg name="c2" default="true"/>

    <!-- Is the real hand running? -->
    <arg name="with_hand" default="true"/>
    <arg name="no_stub" default="$(arg with_hand)"/>

    <include file="$(find tams_pr2_description)/launch/upload_pr2.launch" />

    <rosparam command="load" file="$(find tams_pr2_bringup)/config/analyzers.yaml" ns="diag_agg" />

    <!-- Robot bringup -->
    <include file="$(find tams_pr2_bringup)/launch/include/pr2.launch.xml">
        <arg name="c2" value="$(arg c2)"/>
        <arg name="no-prosilica" value="true"/>
    </include>

    <include file="$(find tams_pr2_bringup)/launch/include/left_gripper.launch.xml" />

    <include file="$(find tams_pr2_bringup)/launch/include/teleop.launch.xml" />

    <rosparam file="$(find tams_pr2_bringup)/config/robot.yaml" />

    <include file="$(find tams_pr2_moveit_config)/launch/move_group.launch">
        <arg name="load_robot_description" value="false"/>
    </include>
    <!-- MoveIt shortcut to move from scripts without waiting -->
    <include file="$(find moveit_by_name)/launch/moveit_by_name.launch"/>

    <rosparam file="$(find pr2_gripper_sensor_controller)/launch/pr2_gripper_sensor_controller_left.yaml" command="load" />
    <node pkg="pr2_controller_manager" type="spawner" args="l_gripper_sensor_controller" name="l_gripper_sensor_controller_spawner" />

    <!-- TAMS-specific service-based mannequin mode -->
    <include file="$(find tams_pr2_mannequin_mode)/launch/pr2_mannequin_mode.launch"/>

    <!-- Shadow-Hand infrastructure on C2 -->
    <!-- Start `roslaunch` on C2 to interpret launch parameters there -->
    <include file="$(find tams_execute)/launch/execute.launch" if="$(arg with_hand)">
        <arg name="machine" value="c2" />
        <arg name="pkg" value="tams_motorhand" />
        <arg name="exe" value="right_biotac_hand_in_ns.launch" />
    </include>
    <include file="$(find tams_motorhand)/launch/right_biotac_hand_stub_on_pr2.launch" unless="$(arg no_stub)"/>
   
    <!-- Launch head specific components on pr2-head --> 
    <include file="$(find tams_execute)/launch/execute.launch" >
        <arg name="machine" value="pr2-head" />
        <arg name="pkg" value="tams_pr2_head_bringup" />
        <arg name="exe" value="tams_pr2_head.launch" />
    </include>

    <!-- depending on which topics this nodes subscribes/publishes it should preferably run on the head instead -->
    <node name="eye_controller" pkg="tams_pr2_neopixel" type="neopixel_arm_demo.py" />

    <!-- Audio feedback on system errors -->
    <include file="$(find tams_audio_monitor)/launch/audio_monitor.launch" />

    <node name="audio_play" pkg="audio_play" type="audio_play">
        <param name="format" value="wave" />
        <param name="channels" value="1" />
        <param name="depth" value="16" />
        <param name="sample_rate" value="16000" />
    </node>

    <!-- Text-To-Speech node -->
    <include file="$(find tams_execute)/launch/execute.launch" >
        <arg name="machine" value="c2" />
        <arg name="pkg" value="tams_tts" />
        <arg name="exe" value="tts.launch" />
        <arg name="workspace" value="~/tts/devel" />
    </include>
</launch>
