<?xml version="1.0"?>
<launch>
    <include file="$(find pr2_machine)/pr2.machine"/>
    <include file="$(find pr2_navigation_global)/amcl_node.xml"/>
    <include file="$(find pr2_navigation_perception)/lasers_and_filters.xml"/>

    <node name="map_server" pkg="map_server" type="map_server" args="$(find tams_maps)/maps/ikum_f2_pr2_localization.yaml" machine="c2" />

    <include file="$(find move_base_interpolate)/launch/move_base_interpolate.launch"/>

    <rosparam ns="move_base">
legal_area: [0,0,0,1,1,1,1,0]
    </rosparam>
</launch>
