<?xml version="1.0"?>
<!-- Top-Level launch file -->
<launch>
    <!-- run some nodes on c2 -->
    <arg name="c2" default="true"/>

    <!-- Is the real hand running? -->
    <arg name="with_hand" default="true"/>

    <include file="$(find tams_pr2_description)/launch/upload_pr2.launch" />

    <rosparam command="load" file="$(find tams_pr2_bringup)/config/analyzers.yaml" ns="diag_agg" />

    <!-- Robot bringup -->
    <include file="$(find tams_pr2_bringup)/launch/include/pr2.launch">
        <arg name="c2" value="$(arg c2)"/>
        <arg name="no-prosilica" value="true"/>
    </include>

    <!--
    <include file="$(find tams_motorhand)/launch/hand_on_trixi.launch" if="$(arg with_hand)"/>
    -->
    <include file="$(find tams_motorhand)/launch/hand_stub_on_trixi.launch" unless="$(arg with_hand)"/>

    <include file="$(find tams_pr2_bringup)/launch/include/teleop.launch" />

    <rosparam file="$(find tams_pr2_bringup)/config/robot.yaml" />

    <include file="$(find pr2_bringup)/config/kinect2_bridge.launch"/>

    <include file="$(find tams_pr2_moveit_config)/launch/move_group.launch"/>
</launch> 
